<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Registros de clientes</title>
		<link rel="stylesheet" href="../static/css/estilosForm.css"/>
	</head>
	<body>
		<header id="header">
			<h1>Registro Cliente</h1>
	    	<p>Por favor llene este formulario con la información requerida</p>
		</header>
	    <form method="post" action="#">
	      <fieldset>
	        <label for="nombree">Nombre: <input id="nombre" name="nombre" type="text" required /></label>
	        <label for="apellido">Apellido: <input id="apellido" name="apellido" type="text" required /></label>
	        <label for="dni">DNI: <input id="dni" name="dni" type="number" required/></label>
	      	<label for="fechaNac">Fecha de nacimiento: <input id="fechaNac" name="fecha" type="date" required/></label>
	      </fieldset>
	      <fieldset>
	        <legend>Selecionar sexo:</legend>
		        <label for="masculino"><input id="masculino" type="radio" name="account-type" class="inline" checked /> Masculino</label>
		        <label for="femenino"><input id="femenino" type="radio" name="account-type" class="inline" /> Femenino</label>
		        <label for="otro"><input id="otro" type="radio" name="account-type" class="inline" /> Otro</label>
	      </fieldset>
	      <label for="email"> Email: <input id="email" name="email" type="email" required /></label>
	      <label for="direccion"> Domicilio: <input id="direccion" name="direccion" required/> </label>
	      <fieldset>
	        <label for="provincia">Seleccione una provincia:
	          <select id="provincia" name="provincia" required>
	            <option value="">(selecione una provincia)</option>
	            <option value="JUJUY">Jujuy</option>
	            <option value="SALTA">Salta</option>
	            <option value="TUCUMAN">Tucumán</option>
	            <option value="CATAMARCA">Catarmaca</option>
	            <option value="LA RIOJA">La Rioja</option>
	            <option value="SANTIAGO DEL ESTERO">Santigo del Estero</option>
	          </select>
	        </label>
	        <label for="telefono">Número de celular: <input id="telefono" type="number" name="telefono" /> </label>
	   	  </fieldset>
	   	  <fieldset>
	        <legend>Selecione un categoria de interés:</legend>
	        	<label for="categ1">Categoria 1<input id="categ1" type="checkbox" name="categ1" /></label>
	        	<label for="categ2">Categoria 1<input id="categ2" type="checkbox" name="categ2" /></label>
	        	<label for="categ3">Categoria 1<input id="categ3" type="checkbox" name="categ3" /></label>
	        <label for="sugerencia">Escriba alguna sugerencia para la empresa:
	          <textarea id="sugerencia" name="sugerencia" rows="3" cols="30" placeholder="Creo que deberían mejorar en..."></textarea>
	        </label>
	        <label for="password">Ingrese una contraseña: <input id="password" name="password" type="password" pattern="[a-z0-5]{8,}" required /></label>
	      </fieldset>
	      <label for="terms-and-conditions">
	        <input class="inline" id="terms-and-conditions" type="checkbox" required name="terms-and-conditions" required /> Acepto los <a href="#">términos y condiciones.</a>
	      </label>
	      <input type="submit" value="Enviar" />
	    </form>
  </body>
</html>