<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Programación Visual</title>
</head>
<body>
	<header>
	<h1>Recorrido de Programación Visual</h1>
	</header>
	<nav>
		<p><a href=https://virtual.unju.edu.ar/mod/resource/view.php?id=366194&redirect=1>
		Trabajo Práctico N°1</a></p>
		<p><a href=https://virtual.unju.edu.ar/pluginfile.php/806767/mod_resource/content/2/Trabajo%20Pr%C3%A1ctico%202%20parte%201.pdf>
		Trabajo Práctico N°2</a></p>
		<p><a href=https://virtual.unju.edu.ar/pluginfile.php/811468/mod_resource/content/2/Trabajo%20Pr%C3%A1ctico%20N%C2%B0%203.pdf>
		Trabajo Práctico N°3</a></p>
	</nav>
	<main>
		<section>
		<h2>Desarrollo 1er Trabajo Práctico</h2>
		</section>
		<section>
		<h2>Desarrollo 2do Trabajo Práctico</h2>
		</section>
		<section>
		<h2>Desarrollo 3er Trabajo Práctico</h2>
		</section>
	</main>
</body>
</html>