<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Programación Visual</title>
	<link rel="stylesheet" href="../static/css/estilosForm.css"/>
</head>
<body>
	<header id="header">
	<h1> Mi Recorrido en Programación Visual</h1>
	</header>
	<img src="	https://cdn.euroinnova.edu.es/img/subidasEditor/euroinnova-20-1680081723.webp"/>
	<main>
	<nav class="menu">
		<a href="#practica">Práctica</a>
		<a href="#teoria">Teória</a>
		<a href="#estadistica">Estadísticas</a>
	</nav>
		<section id="practica">
			<h2>Práctica</h2>
			<ul>
				<li><h3>Trabajos Prácticos:</h3>
				<ul>
					<li><a href=https://virtual.unju.edu.ar/mod/resource/view.php?id=366194&redirect=1>
					Trabajo Práctico N°1</a>
					<li><a href=https://virtual.unju.edu.ar/pluginfile.php/806767/mod_resource/content/2/Trabajo%20Pr%C3%A1ctico%202%20parte%201.pdf>
					Trabajo Práctico N°2</a>
					<li><a href=https://virtual.unju.edu.ar/pluginfile.php/811468/mod_resource/content/2/Trabajo%20Pr%C3%A1ctico%20N%C2%B0%203.pdf>
					Trabajo Práctico N°3</a>
				</ul>
			</ul>
		</section>
		
		<h3>Desarrollo 1er Trabajo Práctico</h3>
		<p> Durante el desarrollo del primer trabajo práctico se aborodaron 
		temas como: el use de la plataforma GitHub como entorno de trabajo,
		uso y manejo de variables, estructuras de control condicional
		(selectivas y repetitivas), uso constructores de Clases, métodos,
		instancias de objetos, decalración de constantes, uso de la clase
		abstracta Calendar, manipulacióon y creación de arrays, Interfaz List,
		y manejo de excepciones. 
		A continuación el enlaece al repositorio de GiHub  </p>
		<a href=https://github.com/Matias-Churquina/TP01_ChurquinaMatias.git> Repositorio TP N°1</a>
		<h3>Desarrollo 2do Trabajo Práctico</h3>
		<p>En el desarrollo del  trabajo práctico 2 se continuó con el uso de
		 la plataforma GitHub pero esta vez con la implementación y 
		 actualización de ramas tanto de forma remota como local, también se
		 abordó el tipo de dato Enum, enumerado como constante, interfaces,
		 uso de @FunctionalInterface, y Stream Collecttion.
         A continuación se deja el enlace al respectivo repositorio para este trabajo:
		</p>
		<a href=https://github.com/Matias-Churquina/trabajo_practico_2.git> Repositorio TP N°2</a>
		<h3>Desarrollo 3er Trabajo Práctico</h3>
		<p>Para el desarrollo del trabajo práctico número 3 se creó un proyecto
		 de tipo Spring Start Project, y se sumergió a la unidad referida a HTML 5,
		 en esta se desarrolla: estructura de página web,   uso de tags (etiquetas) 
		 para formalizar una página web, y validación de html por medio de un sitio
		 de validación.
         A continuación el enlace al repositorio respectivo:
		</p>
		<a href=https://github.com/Matias-Churquina/trabajo_practico_3.git> Repositorio TP N°3</a>
		<section id="teoria">
			<h2>Teoría</h2>
			<p> A continuación se presetará los contenidos y enlaces al material
			teórico presentados semana a semana vistos hasta el momento.</p>
			<h3>Semana 1</h3>
			<p> En esta semana se aborda la unidad teórica referida a temas como la 
			comprensión y manipulacón de la plataforma JAVA. También temas referidos 
			a la programación JAVA (reglas sintáctica y semántica).
			<a href="https://virtual.unju.edu.ar/pluginfile.php/626234/mod_resource/content/2/Introduccion%20Java.pdf">Intorducción a JAVA</a>
			<a href="https://virtual.unju.edu.ar/pluginfile.php/626982/mod_resource/content/2/Programacion%20Java%2001.pdf">Programación JAVA</a>
			<h3>Semana 2</h3>
			<p>Se presentan temas referidos a atributos, contructores, y métodos 
			accesores. Se introduce tipo de dato String y Fechas, tambén se 
			describe el mecanismo de conversión de tipos de datos, y documentación
			de código.</p>	
			<a href="https://virtual.unju.edu.ar/pluginfile.php/420528/mod_resource/content/2/Sobrecarga%20y%20excepciones%20en%20Java.pdf">Sobrecarga</a>
			<a href="https://virtual.unju.edu.ar/pluginfile.php/420526/mod_resource/content/3/Unidad%2001%20Parte%2003%20Variables%20Miembro%20y%20String.pdf">String y variables miembro</a>
			<a href="https://virtual.unju.edu.ar/pluginfile.php/420529/mod_resource/content/2/conversi%C3%B3n%20explicita.pdf">Conversión de tipos de Datos</a>
			<a href="https://virtual.unju.edu.ar/pluginfile.php/420527/mod_resource/content/2/Fechas%20en%20Java.pdf">Fechas en java</a>
			<a href="https://virtual.unju.edu.ar/pluginfile.php/420530/mod_resource/content/3/documentacion.pdf">Documentación de código</a>
			<h3>Semana 3</h3>
			<p>Aquí se presenta la introducción a los proyectos Maven, y se 
			profundiza el versionamiento con Git. Por otra parte se brinda una
			breve conceptualiazación al uso de interfaces. </p>
			<a href="https://virtual.unju.edu.ar/pluginfile.php/627403/mod_resource/content/2/03%20Introduccion%20a%20Maven.pdf">Proyectos Maven</a>
			<a href="https://virtual.unju.edu.ar/pluginfile.php/794818/mod_resource/content/3/Aplicacion%20interfaces.pdf">Interfaces</a>
			<h3>Semana 4 y 5</h3>
			<p>Se describe el uso de enumerados, uso de las funcionalidades que
			ofrece JAVA para la programación funcional. </p>
			<a href="https://drive.google.com/file/d/1Xd227uCqrlOpD7xHkbYKV0Zf09WR-pWB/view">Programación funcional</a>
			<a href="https://www.youtube.com/watch?v=ZSPvRDE-WzQ&embeds_referring_euri=https%3A%2F%2Fvirtual.unju.edu.ar%2F&source_ve_path=OTY3MTQ&feature=emb_imp_woyt">Enumerados</a>
			<h3>Semana 6</h3>
			<p>En esta semana se conceptualiza la arquitectura de aplicaciones
			web y técnologias usadas, framework, spring framework, spring boot, 
			y se realiza una introducción a HTML.</p>
			<a href="https://virtual.unju.edu.ar/pluginfile.php/420575/mod_resource/content/3/Aplicaciones%20web.pdf">Aplicaciones web</a>
			<a href="https://virtual.unju.edu.ar/pluginfile.php/420576/mod_resource/content/2/Arquitectura%20de%20aplicaciones%20web.pdf">Arquitectura de Aplicaciones Web</a>
			<a href="https://virtual.unju.edu.ar/pluginfile.php/420577/mod_resource/content/2/frameworks.pdf">Framework-Spring Framework</a>
			<a href="https://virtual.unju.edu.ar/pluginfile.php/420737/mod_resource/content/2/HTML5.pdf">HTML 5</a>
		</section>
		<section id="estadistica">
			<h2> Tabla de avance</h2>
			<table border="1">
				<tr>
					<th> Unidades </th>
					<th> Aun no lo entiendo</th>
					<th> Medianamente entendido</th>
					<th> Totalmente entendido</th>
				</tr>
				<tr>
					<th> Unidad 1</th>
					<th></th>
					<th>X</th>
					<th></th>
				</tr>
				<tr>
					<th>Unidad 2</th>
					<th></th>
					<th>X</th>
					<th></th>
				</tr>
				<tr>
					<th>Unidad 3</th>
					<th></th>
					<th>X</th>
					<th></th>
				</tr>
				<tr>
					<th>Unidad 4 y 5</th>
					<th></th>
					<th>X</th>
					<th></th>
				</tr>
				<tr>
					<th>Unidad 6</th>
					<th></th>
					<th>X</th>
					<th></th>
				</tr>
			</table>
		</section>
	</main>
	<aside>
		<h3>Enlaces a recursos realcionados</h3>
		<a href="https://www.freecodecamp.org/learn/2022/responsive-web-design/">FreeCodeCamp: Curso de HTML y CSS</a>
		<a href="https://desarrolladoresweb.org/html/introduccion-a-html/">Introduccion a HTML</a>
	</aside>
	<footer>
		<p>Copy Right 2024</p>
		<p>Mi perfil de <a href="https://www.facebook.com/daniel.churquina.16">facebook</a></p>
		<p>Correo electrónico: matiasdanielchurquina@gmail.com</p>
	</footer>
</body>
</html>